.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.reset-button {
  width: 100px;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  background-color: #888;
  border: 1px solid #444; }

.Slider {
  margin: 10px 0px 10px 0px; }
