@import './variables.scss';

.bar-container{

	.bar{

		.material{
			font-family: Garamond;
			font-size: 16px;
			text-anchor: end;
		}

		rect{
			stroke-width: 1px;
			stroke: #bbb;
		}
		@each $var in $materials{		
			&.#{nth($var,1)} {
				rect{
					fill: nth($var,2);
				}
			}
		}
	}

}