@import './variables.scss';

.bar-container{

	.bar{
		rect{
			stroke-width: 1px;
			stroke: #bbb;
		}
		@each $var in $materials{		
			&.#{nth($var,1)} {
				rect{
					fill: nth($var,2);
				}
			}
		}
	}

}