.bar-container .bar rect {
  stroke-width: 1px;
  stroke: #bbb; }

.bar-container .bar.sheep rect {
  fill: #76B712; }

.bar-container .bar.wood rect {
  fill: #0E5A20; }

.bar-container .bar.wheat rect {
  fill: #F9BC00; }

.bar-container .bar.ore rect {
  fill: #524D30; }

.bar-container .bar.brick rect {
  fill: #B66E28; }

.bar-container .bar.desert rect {
  fill: #E9D168; }
