.tile polygon {
  stroke: #bbb;
  stroke-width: 1px; }

.tile.sheep polygon {
  transition: fill 0.5s ease;
  fill: #76B712; }

.tile.wood polygon {
  transition: fill 0.5s ease;
  fill: #0E5A20; }

.tile.wheat polygon {
  transition: fill 0.5s ease;
  fill: #F9BC00; }

.tile.ore polygon {
  transition: fill 0.5s ease;
  fill: #524D30; }

.tile.brick polygon {
  transition: fill 0.5s ease;
  fill: #B66E28; }

.tile.desert polygon {
  transition: fill 0.5s ease;
  fill: #E9D168; }

.tile.starter polygon {
  stroke: #f00;
  stroke-width: 2px; }

.tile .letter {
  font-family: Garamond;
  font-size: 16px;
  text-anchor: middle; }
  .tile .letter.highlight {
    font-weight: bold; }
  .tile .letter .small {
    font-size: 12px; }
