@import './variables.scss';

.tile{
	polygon{	
		stroke: #bbb;
		stroke-width: 1px;
	}
	@each $var in $materials{		
		&.#{nth($var,1)} {
			polygon{
				transition: fill 0.5s ease;
				fill: nth($var,2);
			}
		}
	}

	&.starter{
		polygon{
			stroke: #f00;
			stroke-width: 2px;
		}
	}

	.letter{
		font-family: Garamond;
		font-size: 16px;
		text-anchor: middle;
		&.highlight{
			font-weight: bold;
		}
		.small{
			font-size: 12px;
		}
	}

}